@import "../../scss/breakpoints";

.Popover {
  display: flex;
  justify-self: center;
  &__icon {
    cursor: pointer;

    @include xl {
      height: 28px;
    }
  }

  &__material-popover {
    .MuiPopover-paper {
      top: 70px !important;
      width: 270px;
      padding: 10px 20px 15px;
      overflow: hidden;

      @include xl {
        width: 100%;
        height: calc(100vh - 150px);
      }
    }
  }
}
