@import "../../scss/breakpoints";

.VideoSearch {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 70px;
  height: min-content;
  padding: 20px;

  @include xl {
    overflow: auto;
    padding-bottom: 70px;
    margin-top: 0;
  }

  &__card-list {
    width: 65%;
    margin-left: 80px;

    @include xl {
      width: 100%;
      margin-left: 0;
    }
  }

  &__card {
    height: 200px;
    margin: 20px 0;

    @include md {
      height: auto;
    }

    .MuiCardContent-root {
      padding-left: 20px;
    }

    .VideoCard__media--horizontal {
      width: 40%;
    }

    .VideoCard__content--horizontal {
      width: 60%;

      &.MuiCardContent-root:last-child {
        padding-bottom: 0;
      }
    }

    .VideoCard__content-title {
      font-size: 16px;
    }
  }
}
