@import "../../scss/breakpoints";

.VideoSearch {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 70px;
  height: min-content;
  padding: 20px;

  @include xl {
    overflow: auto;
    padding-bottom: 70px;
    margin-top: 0;
  }

  &__card-list {
    width: 65%;
    margin-left: 80px;
  }

  &__card {
    height: 230px;
    margin: 20px 0;

    .MuiCardContent-root {
      padding-left: 20px;
    }
  }
}
