@import "../../scss/breakpoints";

.Subscriptions {
  display: grid;
  padding: 20px 150px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 10px;
  align-content: start;
  margin-top: 60px;
  height: min-content;

  @include xl {
    padding: 20px 30px;
    margin-bottom: 65px;
    margin-top: 0;
    overflow: auto;
  }
}
