@import "../../scss/breakpoints";

.Channels {
  margin-top: 50px;

  &__wrapper {
    padding: 20px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    align-content: start;
    height: min-content;

    @include xl {
      padding: 20px 30px;
      margin-bottom: 65px;
      margin-top: 0;
      overflow: auto;
    }
  }
}
