@import "../../scss/breakpoints";

.Button {
  .centerIcon {
    .MuiButton-endIcon,
    .MuiButton-startIcon {
      margin: 0;

      > *:nth-of-type(1) {
        height: 30px;
        width: 30px;
        font-size: 5px;
      }

      @include md {
        display: none;
      }
    }
  }

  &.MuiButton-root {
    @include md {
      font-size: 9px;
    }
  }

  &__icon {
    width: 28px;
    width: 28px;
    border-radius: 50%;

    @include md {
      width: 25px;
      height: 25px;
    }
  }
}
