@import "../../scss/breakpoints";

.VideoPlayback {
  display: flex;
  width: 100%;
  margin-top: 80px;

  @include xl {
    margin-top: 20px;
  }

  &__player {
    width: calc(100% - 400px);
    @include xl {
      width: 100%;
    }
  }

  @include xl {
    flex-direction: column;
  }
}
