@import "../../scss/breakpoints";

.VideoPlayback {
  display: flex;
  width: 100%;
  padding: 20px;

  &__player {
    width: calc(100% - 400px);
    @include xl {
      width: 100%;
    }
  }

  @include xl {
    flex-direction: column;
  }
}
