.SubscriptionList {
  overflow: auto;

  &-scroller {
    height: 320px !important;
    overflow: hidden !important;

    &--expanded {
      height: auto !important;
      overflow-y: auto !important;
    }
  }

  &__btn {
    &.MuiButton-root {
      margin-top: 10px;
      background-color: transparent;
      box-shadow: none;
      color: black;
      text-transform: initial;
      transition: all 0.2s;
      font-size: 13px;
      justify-content: center;
      padding-left: 15px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 50px;

      &:hover {
        background-color: #edeaea;
        box-shadow: none;
      }

      .MuiButton-startIcon {
        margin-right: 13px;
        .MuiSvgIcon-root {
          width: 30px;
          height: 25px;
        }
      }
    }
  }
}
