@import "../../scss/breakpoints";

.Home {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  align-content: start;
  margin-top: 50px;

  @include xl {
    margin-top: 0;
    padding: 20px 30px;
    margin-bottom: 65px;
    height: calc(100vh - 130px);
    overflow: auto;
  }
}
