.Select {
  &__group {
    &.MuiFormControl-root {
      margin: 15px 0;
    }
  }
  &__input {
    .MuiSelect-select.MuiInputBase-input.MuiInput-input {
      font-size: 14px;

      &:focus {
        background-color: white;
      }
    }

    &.Mui-focused {
      &:focus {
        outline: none;
      }
    }
  }

  &__label {
    &.MuiInputLabel-root {
      font-size: 14px;
    }
  }

  &__menu-item {
    &.MuiMenuItem-root {
      font-size: 14px;
    }
  }

  legend {
    display: none;
  }
}
