.Select {
  &__heading {
    color: #1565c0;
    font-size: 15px;
  }

  &__group {
    &.MuiFormControl-root {
      margin: 15px 0;
    }
  }
  &__input {
    .MuiSelect-select.MuiInputBase-input.MuiInput-input {
      font-size: 14px;
      &:focus {
        background-color: white;
      }
    }
  }

  &__label {
    &.MuiInputLabel-root {
      font-size: 14px;
    }
  }

  &__menu-item {
    &.MuiMenuItem-root {
      font-size: 14px;
    }
  }
}
