@import "../../scss/breakpoints";

.Channel {
  margin-top: 80px;

  &__wrapper {
    padding: 20px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 10px;
    align-content: start;
    height: min-content;

    @include xl {
      padding: 20px 10px;
      margin-bottom: 65px;
      margin-top: 0;
      overflow: auto;
    }
  }
}
