.Searchbar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  //   border: 1px solid black;
  align-items: center;

  &__textfield {
    &.MuiTextField-root {
      border-bottom-left-radius: 40px;
      border-top-left-radius: 40px;
      border-right: none;
      cursor: pointer;
      //   outline: 1px solid grey;

      .MuiOutlinedInput-root {
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid #1976d2;
      }

      .MuiOutlinedInput-input {
        padding: 9px 20px;

        // ovde focus radi
        // &:focus {
        //   border-top: 1px solid blue;
        //   border-bottom: 1px solid blue;
        // }
      }

      .MuiOutlinedInput-notchedOutline {
        border: none;
      }
    }
  }

  &__button {
    &.MuiButton-root {
      margin-left: 0;
      height: 43.5px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
