.Drawer {
  width: 100px;
  margin-top: 100px;

  .MuiModal-backdrop {
    background-color: transparent;
    width: 100px;
    margin-top: 100px;
  }

  .MuiPaper-root.MuiDrawer-paper {
    width: 100px;
    top: 100px;
    overflow-y: auto;
    height: calc(100vh - 100px);
  }

  &__list {
    &.MuiList-root {
      padding: 0;
    }

    &-item {
      &.MuiListItem-root {
        padding-top: 0;
        padding-bottom: 0;
        color: black;
      }

      &-icon {
        &.MuiListItemIcon-root {
          min-width: 38px;
          color: black;
        }
      }

      &-button {
        color: red;
        &.MuiListItemButton-root {
          flex-direction: column;
        }
      }
    }

    &-item-text {
      .MuiTypography-root {
        font-size: 14px;
        color: black;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
      }
    }
  }

  &__divider {
    &.MuiDivider-root {
      width: 90%;
      margin: auto;
    }
  }
}
