@import "../../../scss/breakpoints";

.RelatedVideos {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  padding: 0 15px;

  @include xl {
    padding: 20px !important;
    margin-bottom: 80px;
  }

  .VideoCard {
    // height: 105px;

    @include md {
      height: min-content;
    }
  }

  @include xl {
    width: 100%;
    padding: 0;
    margin-top: 10px;

    &__card {
      .VideoCard__media--horizontal {
        width: 20%;

        @include sm {
          width: 30%;
        }
      }

      .VideoCard__content--horizontal {
        &.MuiCardContent-root {
          width: 79%;
          padding-left: 10px;
        }
      }
    }
  }
}
