.VideoDetails {
  &__title {
    margin: 5px 0;
  }
  &__channel {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
    width: max-content;
    padding-right: 10px;

    &-avatar {
      margin-right: 10px;
    }

    &-info {
      &-name {
        letter-spacing: 0.3px;
      }
      display: flex;
      flex-direction: column;

      &-subscribers {
        font-size: 12px;
      }
    }
  }

  &__description {
    position: relative;
    &-heading {
      display: flex;
      align-items: flex-end;
      &-views,
      &-time {
        font-weight: bold;
        font-size: 13px;
      }
      &-time {
        margin-left: 10px;
        letter-spacing: -0.5px;
      }
    }

    &-text {
      overflow: hidden;
      height: 48px;
      @extend .descriptionTextMain;

      &--expanded {
        @extend .descriptionTextMain;
        height: auto;
      }
    }

    &-btn {
      @extend .btn-base;
      &.MuiButton-root {
        margin-left: 15px;
      }

      &--bottom {
        @extend .btn-base;
        &.MuiButton-root {
          position: absolute;
          left: -5px;
          bottom: 10px;
        }
      }
    }

    &-tags {
      font-size: 13px;
    }
  }
}

.btn-base {
  &.MuiButton-root {
    text-transform: initial;
    font-size: 13px;
    height: 16px;
    width: 88px;
    padding: 0;
    border: none;

    &:hover {
      border: none;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.descriptionTextMain {
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
  white-space: pre-line;
  background-color: #edeaea;
  border-radius: 4px;
  padding-bottom: 40px;
}
