.VideoDetails {
  &__title {
    margin: 5px 0;
  }
  &__channel {
    display: flex;
    align-items: center;
    margin: 10px 0;

    &-avatar {
      margin-right: 10px;
    }

    &-text {
      &-name {
        letter-spacing: 0.3px;
      }
      display: flex;
      flex-direction: column;

      &-subscribers {
        font-size: 12px;
      }
    }
  }

  &__desc {
    position: relative;

    &-views,
    &-time {
      font-weight: bold;
      font-size: 13px;
    }
    &-time {
      margin-left: 10px;
      letter-spacing: -0.5px;
    }

    &-text {
      margin-bottom: 30px;
      margin-top: 10px;
      padding: 8px;
      font-size: 14px;
      white-space: pre-line;
      background-color: #edeaea;
      border-radius: 4px;
      height: 48px;
      overflow: hidden;
      padding-bottom: 40px;

      &-expanded {
        height: auto;
      }
    }

    &-btn {
      @extend .btnMain;
      &.MuiButton-root {
        right: 20%;
        top: 63px;
      }

      &-bottom {
        @extend .btnMain;
        &.MuiButton-root {
          left: 5px;
          bottom: 10px;
        }
      }
    }

    &-tags {
      font-size: 13px;
    }
  }
}

/* btn main class */

.btnMain {
  &.MuiButton-root {
    background-color: transparent;
    box-shadow: none;
    text-transform: initial;
    font-weight: bold;
    color: #0f0f0f;
    font-size: 13px;
    position: absolute;
    padding: 0;
    height: 10px;
    width: 80px;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      border: none;
    }

    &:active {
      box-shadow: none;
    }
  }
}
