@import "../../scss/mixin";

.Header {
  grid-column: 1 / -1;
  display: grid;
  width: 100%;
  grid-template-columns: 100px 1fr 500px 1fr 50px;
  align-items: center;
  padding: 0 40px;
  padding-right: 0;

  &__drawer-icon {
    &.MuiSvgIcon-root {
      cursor: pointer;
      user-select: all;
    }
  }

  @include lg {
    grid-template-columns: 1fr 2fr 1fr 40px;
  }

  &__logo {
    width: 100px;
    cursor: pointer;
  }

  &__btn {
    display: grid;

    &-wrapper {
      justify-self: flex-end;
      margin-right: 10px;
    }

    &.MuiButton-root {
      &:hover {
        background-color: #c5cae9;
      }
    }
  }
}
