.Header {
  grid-column: 1 / -1;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 4fr 1fr;
  align-items: center;

  &__logo {
    width: 100px;
  }

  &__button {
    display: grid;
    &.MuiButton-root {
      &:hover {
        background-color: #c5cae9;
      }
    }
  }
}
